<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.JcCartMapper">

    <resultMap type="JcCart" id="JcCartResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="productId"    column="product_id"    />
        <result property="productAttrId"    column="product_attr_id"    />
        <result property="number"    column="number"    />
        <result property="dflag"    column="dflag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectJcCartVo">
        select id, user_id, product_id, product_attr_id, number, dflag, create_time, update_time, remark from jc_cart
    </sql>

    <select id="selectJcCartList" parameterType="JcCart" resultMap="JcCartResult">
        <include refid="selectJcCartVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="productAttrId != null "> and product_attr_id = #{productAttrId}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="dflag != null "> and dflag = #{dflag}</if>
        </where>
    </select>

    <select id="selectJcCartById" parameterType="Long" resultMap="JcCartResult">
        <include refid="selectJcCartVo"/>
        where id = #{id}
    </select>

    <insert id="insertJcCart" parameterType="JcCart" useGeneratedKeys="true" keyProperty="id">
        insert into jc_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productAttrId != null">product_attr_id,</if>
            <if test="number != null">number,</if>
            <if test="dflag != null">dflag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productAttrId != null">#{productAttrId},</if>
            <if test="number != null">#{number},</if>
            <if test="dflag != null">#{dflag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateJcCart" parameterType="JcCart">
        update jc_cart
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productAttrId != null">product_attr_id = #{productAttrId},</if>
            <if test="number != null">number = #{number},</if>
            <if test="dflag != null">dflag = #{dflag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJcCartById" parameterType="Long">
        delete from jc_cart where id = #{id}
    </delete>

    <delete id="deleteJcCartByIds" parameterType="String">
        delete from jc_cart where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
