<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.JcUserAddressMapper">

    <resultMap type="JcUserAddress" id="JcUserAddressResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="detailAddr"    column="detail_addr"    />
        <result property="acceptPhone"    column="accept_phone"    />
        <result property="dflag"    column="dflag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectJcUserAddressVo">
        select id, user_id, city_id, detail_addr, accept_phone, dflag, create_time, update_time, remark from jc_user_address
    </sql>

    <select id="selectJcUserAddressList" parameterType="JcUserAddress" resultMap="JcUserAddressResult">
        <include refid="selectJcUserAddressVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="detailAddr != null  and detailAddr != ''"> and detail_addr = #{detailAddr}</if>
            <if test="acceptPhone != null  and acceptPhone != ''"> and accept_phone = #{acceptPhone}</if>
            <if test="dflag != null "> and dflag = #{dflag}</if>
        </where>
    </select>

    <select id="selectJcUserAddressById" parameterType="Long" resultMap="JcUserAddressResult">
        <include refid="selectJcUserAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertJcUserAddress" parameterType="JcUserAddress" useGeneratedKeys="true" keyProperty="id">
        insert into jc_user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="detailAddr != null">detail_addr,</if>
            <if test="acceptPhone != null">accept_phone,</if>
            <if test="dflag != null">dflag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="detailAddr != null">#{detailAddr},</if>
            <if test="acceptPhone != null">#{acceptPhone},</if>
            <if test="dflag != null">#{dflag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateJcUserAddress" parameterType="JcUserAddress">
        update jc_user_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="detailAddr != null">detail_addr = #{detailAddr},</if>
            <if test="acceptPhone != null">accept_phone = #{acceptPhone},</if>
            <if test="dflag != null">dflag = #{dflag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJcUserAddressById" parameterType="Long">
        delete from jc_user_address where id = #{id}
    </delete>

    <delete id="deleteJcUserAddressByIds" parameterType="String">
        delete from jc_user_address where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
